.widget {
    background: $lightBlue;
    margin-bottom: $xl-size;
}

.widget-message {
    color: $offWhite;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($lightBlue, 10%);
}

// flex justify-content: space-between will distribute the space between elements
.widget-header {
    background: $blue;
    color: $offWhite;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header--title {
    margin: 0;
}